@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/BalsamiqSans-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf');
  font-display: swap;
}
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Balsamiq', sans-serif;
}
.container {
  margin: 0 auto;
  text-align: center;
  max-width: 1140px;
  padding: 0 20px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section {
  padding: 120px 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
.btn {
  background: #38ada9;
  display: inline-block;
  letter-spacing: 1px;
  border-radius: 3px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  transition: all 0.2s linear;
}
.btn:hover {
  background: #1dd1a1;
  transition: all 0.2s linear;
}
.logo {
  color: #121212;
  font-size: 36px;
  transition: all 0.2s linear;
}
.logo:hover {
  color: #ffffff;
  transition: all 0.2s linear;
}
/* Header */
.header {
  position: relative;
}
.nav {
  padding-top: 65px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nav__list li {
  display: inline-block;
  margin: 0 45px;
}
.nav__list li a {
  letter-spacing: 2px;
  font-size: 17px;
  transition: all 0.2s linear;
}
.nav__list li a:hover {
  color: #38ada9;
  transition: all 0.2s linear;
}
/* Splash */
.splash {
  background: url('../img/splash.jpg');
  height: 745px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: bottom;
}
.splash__box {
  color: #ffffff;
  margin: 205px auto 0;
  max-width: 600px;
  text-align: center;
}
.splash__box h2 {
  letter-spacing: 8px;
  font-size: 36px;
}
.splash__box p {
  letter-spacing: 3px;
  margin-top: -5px;
}
.splash__box a {
  margin-top: 15px;
  width: 165px;
}
.splash__media {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.splash__media li {
  display: inline-block;
  margin: 15px 2px;
  font-size: 24px;
}
.splash__media li a {
  transition: all 0.2s linear;
}
.splash__media li a:hover {
  color: #38ada9;
  transition: all 0.2s linear;
}
/* Intro, Intro-1 */
.intro {
  background: #f1f2f6;
}
.intro__img {
  background: url(../img/life1.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: -120px;
}
.intro-1__img {
  background: url(../img/design1.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: -120px;
  display: flex;
  justify-content: flex-end;
}
.intro__box {
  width: 48%;
  text-align: left;
  min-height: 400px;
  padding: 20px;
}
.intro__box h3 {
  color: #38ada9;
  margin-top: 5px;
  letter-spacing: 3px;
  font-size: 18px;
  line-height: 1.4;
}
.intro__box p {
  font-size: 14px;
  margin-top: 35px;
  font-family: 'Poppins';
}
.intro__box a {
  margin-top: 22px;
  width: 190px;
}
/* Community */
.community {
  background: #f1f2f6;
}
.community__text {
  width: 28%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.community__text h3 {
  margin: 7px auto;
  letter-spacing: 3px;
  font-size: 18px;
  line-height: 1.4;
  width: 100%;
}
.community__text p {
  margin: 7px auto;
  font-size: 12px;
  max-width: 180px;
}
.community__text i {
  width: 100%;
  font-size: 36px;
  margin: 7px auto;
}
.community__box {
  width: 35%;
  height: 290px;
}
.community__box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Email */
.email {
  background: url('../img/email.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 800px;
  position: relative;
}
.email__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.email__box h3 {
  letter-spacing: 3px;
  font-size: 25px;
  line-height: 1.4;
  color: #ffffff;
}
.email__box form {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.email__box input[type=email] {
  width: 290px;
  height: 60px;
  padding: 0 20px;
  border-radius: 3px 0 0 3px;
  outline: none;
  border: none;
}
.email__box input[type=email]::placeholder {
  font-size: 16px;
}
.email__box button[type=button] {
  height: 60px;
  width: 60px;
  border-radius: 0 3px 3px 0;
  outline: none;
  border: none;
  background: #38ada9;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 0;
  margin-left: -1px;
  transition: all 0.2s linear;
}
.email__box button[type=button]:hover {
  transition: all 0.2s linear;
  background: #1dd1a1;
}
/* Download */
/* Footer */
