// Variables
@color-light: #ffffff;
@color-dark: #121212;
@color-primary: #1dd1a1;
@color-secondary: #f1f2f6;

@radius: 3px;
@transition: all 0.2s linear;

@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/BalsamiqSans-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf');
  font-display: swap;
}

/* Global */
*, *::before, *::after {
  box-sizing: border-box;   
}
  
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Balsamiq', sans-serif;
}
  
.container {
  margin: 0 auto;
  text-align: center;
  max-width: 1140px;
  padding: 0 20px;
}
  
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
  
section {
  padding: 120px 0; 
}

a {
  text-decoration: none;
  color: @color-light;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.btn {
  background: @color-primary;
  display: inline-block;
  letter-spacing: 1px;
  border-radius: @radius;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
}

/* Header */ 

.header {
  position: relative;
}

.nav {
  padding-top: 65px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    display: inline-block;
    margin: 0 45px;
    a {
      letter-spacing: 2px;
      font-size: 17px;
      transition: @transition;
      &:hover {
        color: @color-primary;
        transition: @transition;
      }
    }
  }
}

/* Splash */ 

.splash {
  background: url('../img/splash.jpg');
  height: 745px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: bottom;
}

.splash__box {
  color: @color-light;
  margin: 205px auto 0;
  max-width: 600px;
  text-align: center;
  h2 {
    letter-spacing: 8px;
    font-size: 36px;
  }
  p {
    letter-spacing: 3px;
    margin-top: -5px;
  }
  a {
    margin-top: 15px;
    width: 165px;
  }
}

.splash__media {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    display: inline-block;
    margin: 15px 2px;
    font-size: 24px;
    a {
      transition: @transition;
      &:hover {
        color: @color-primary;
        transition: @transition;
      }
    }
  }
}

/* Intro, Intro-1 */ 

.intro {
  background: @color-secondary;
}

.intro__img {
  background: url(../img/life1.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: -120px;
}

.intro-1__img {
  background: url(../img/design1.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: -120px;
  display: flex;
  justify-content: flex-end;
}

.intro__box {
  width: 48%;
  text-align: left;
  min-height: 400px;
  padding: 20px;
  h3 {
    color: @color-primary;
    margin-top: 5px;
    letter-spacing: 3px;
    font-size: 18px;
    line-height: 1.4;
  }
  p {
    font-size: 14px;
    margin-top: 35px;
    font-family: 'Poppins';
  }
  a {
    margin-top: 22px;
    width: 190px;
  }
}

/* Community */ 

.community {
  background: @color-secondary;
}

.community__text {
  width: 28%;
  display: flex; 
  flex-wrap: wrap;
  align-content: center;
  h3 {
    margin: 10px auto;
    letter-spacing: 3px;
    font-size: 18px;
    line-height: 1.4;
  }
  p {
    margin: 10px auto;
    font-size: 12px;
    max-width: 180px;
  }
}

.community__box {
  width: 35%;
  height: 245px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

/* Email */ 

.email {
  background: url('../img/email.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 800px;
}

.email__box {
  margin: 225px auto 0;
  h3 {
    letter-spacing: 3px;
    font-size: 25px;
    line-height: 1.4;
    color: @color-light;
  }
  form {
    margin-top: 20px;
  }
  input {
    width: 250px;
    height: 60px;
    padding: 20px;
    margin: 0;
  }
  button {
    height: 60px;
    padding: 20px;
    margin: 0;
  }
}

/* Download */ 

/* Footer */ 
