@font-face {
  font-family: 'Balsamiq';
  src: url('../fonts/BalsamiqSans-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf');
  font-display: swap;
}
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Balsamiq', sans-serif;
}
.container {
  margin: 0 auto;
  text-align: center;
  max-width: 1140px;
  padding: 0 20px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section {
  padding: 120px 0;
}
a {
  text-decoration: none;
  color: #ffffff;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
.btn {
  background: #38ada9;
  display: inline-block;
  letter-spacing: 1px;
  border-radius: 3px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  transition: all 0.2s linear;
}
.btn:hover {
  background: #1dd1a1;
  transition: all 0.2s linear;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.logo {
  color: #121212;
  font-size: 36px;
  transition: all 0.2s linear;
}
.logo:hover {
  color: #ffffff;
  transition: all 0.2s linear;
}
/* Header */
.header {
  position: relative;
}
.nav {
  padding-top: 65px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  width: 100%;
}
.nav__list li {
  display: inline-block;
  margin: 0 30px;
}
.nav__list li a {
  letter-spacing: 2px;
  font-size: 17px;
  transition: all 0.2s linear;
}
.nav__list li a:hover {
  color: #38ada9;
  transition: all 0.2s linear;
}
/* Splash */
.splash {
  background: url('../img/splash.jpg');
  height: 820px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: bottom;
}
.splash__box {
  color: #ffffff;
  margin: 225px auto 0;
  max-width: 600px;
  text-align: center;
}
.splash__box h2 {
  letter-spacing: 8px;
  font-size: 36px;
}
.splash__box p {
  letter-spacing: 3px;
  margin-top: -5px;
}
.splash__box a {
  margin-top: 15px;
  width: 165px;
}
.splash__media {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.splash__media li {
  display: inline-block;
  margin: 15px 2px;
  font-size: 24px;
}
.splash__media li a {
  transition: all 0.2s linear;
}
.splash__media li a:hover {
  color: #38ada9;
  transition: all 0.2s linear;
}
/* Intro, Intro-1 */
.intro {
  background: #f1f2f6;
}
.intro__left {
  background: url(../img/life1.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  margin-bottom: -120px;
}
.intro__right {
  background: url(../img/design1.png);
  background-repeat: no-repeat;
  background-position-x: 0%;
  margin-bottom: -120px;
  display: flex;
  justify-content: flex-end;
}
.intro__box {
  width: 48%;
  text-align: left;
  min-height: 400px;
  padding: 20px;
}
.intro__box h3 {
  color: #38ada9;
  margin-top: 5px;
  letter-spacing: 3px;
  font-size: 18px;
  line-height: 1.4;
}
.intro__box p {
  font-size: 14px;
  margin-top: 35px;
  font-family: 'Poppins';
}
.intro__box a {
  margin-top: 22px;
  width: 190px;
}
/* Community */
.community {
  background: #f1f2f6;
}
.community__text {
  width: 28%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.community__text h3 {
  margin: 7px auto;
  letter-spacing: 3px;
  font-size: 18px;
  line-height: 1.4;
  width: 100%;
}
.community__text p {
  margin: 7px auto;
  font-size: 12px;
  max-width: 180px;
}
.community__text i {
  width: 100%;
  font-size: 36px;
  margin: 7px auto;
}
.community__box {
  width: 33%;
  height: 290px;
}
.community__box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Email */
.email {
  background: url('../img/email.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 800px;
  position: relative;
}
.email__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.email__box h3 {
  letter-spacing: 3px;
  font-size: 25px;
  line-height: 1.4;
  color: #ffffff;
}
.email__box form {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.email__box input[type=email] {
  width: 290px;
  height: 60px;
  padding: 0 20px;
  border-radius: 3px 0 0 3px;
  outline: none;
  border: none;
}
.email__box input[type=email]::placeholder {
  font-size: 16px;
}
.email__box button[type=button] {
  height: 60px;
  width: 60px;
  border-radius: 0 3px 3px 0;
  outline: none;
  border: none;
  background: #38ada9;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 0;
  margin-left: -1px;
  transition: all 0.2s linear;
}
.email__box button[type=button]:hover {
  transition: all 0.2s linear;
  background: #1dd1a1;
}
/* Download */
.download {
  background: #f1f2f6;
}
.download__box {
  width: 90%;
  margin: auto;
}
.download__box p {
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 14px;
}
.download__list {
  margin-top: 50px;
}
.download__list li {
  display: inline-block;
  border-radius: 3px 0 0 3px;
  margin: 0 10px;
}
.download__list li a {
  width: 300px;
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
.download__list li a i {
  background: #1dd1a1;
  height: 100%;
  display: inline-block;
  width: 60px;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  transition: all 0.2s linear;
}
.btn__apple:hover i {
  color: #121212;
  transition: all 0.2s linear;
}
.btn__android:hover i {
  color: #121212;
  transition: all 0.2s linear;
}
/* Footer */
.footer {
  padding: 40px 0;
}
.footer__politics {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.footer__politics ul {
  text-align: left;
}
.footer__politics ul :last-child {
  border-right: none;
}
.footer__politics ul li {
  display: inline-block;
  border-right: 2px solid #38ada9;
  padding: 0;
}
.footer__politics ul li a {
  letter-spacing: 2px;
  font-size: 14px;
  color: #121212;
  margin-right: 4px;
  padding: 0;
  transition: all 0.2s linear;
}
.footer__politics ul li a:hover {
  transition: all 0.2s linear;
  color: #38ada9;
}
.footer__politics p {
  font-size: 13px;
  text-align: left;
  width: 100%;
}
.footer__logo i {
  font-size: 40px;
}
/* ScrollTopButton */
.scrollTopButton {
  position: fixed;
  bottom: 60px;
  right: 60px;
  display: none;
  z-index: 999;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  width: 50px;
  color: #ffffff;
  background: #38ada9;
  border-radius: 50%;
  text-align: center;
}
.scrollTopButton i {
  font-size: 24px;
}
.show {
  display: block;
}
/* Media */
@media (max-width: 800px) {
  section {
    padding: 80px 0;
  }
  .container {
    padding: 0 10px;
  }
  .nav {
    height: 70px;
  }
  .nav__list {
    position: absolute;
    top: -100vh;
    right: 0;
    width: 100vw;
    z-index: 998;
    transition: all 0.2s linear;
    background: #f1f2f6;
  }
  .nav__list li {
    display: block;
    margin: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
  }
  .nav__list li a {
    padding: 10px;
    background: #f1f2f6;
    color: #38ada9;
  }
  .toggle-btn {
    display: block;
    position: absolute;
    right: 40px;
    top: 20px;
    z-index: 999;
  }
  .toggle-btn .bar {
    background: #ffffff;
    width: 40px;
    height: 2px;
    margin: 7px auto;
    transition: all 0.2s linear;
  }
  #toggle:checked ~ .nav__list {
    visibility: visible;
    top: 70px;
    transition: all 0.1s linear;
  }
  #toggle:checked body {
    filter: blur(0.5);
  }
  #toggle:checked + label.toggle-btn .bar:nth-child(2) {
    transform: translateX(40px);
    opacity: 0;
  }
  #toggle:checked + label.toggle-btn .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  #toggle:checked + label.toggle-btn .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .splash {
    height: 600px;
  }
  .splash__box {
    margin: 130px auto 0;
  }
  .splash__box h2 {
    font-size: 30px;
    padding: 0 20px;
  }
  .splash__box p {
    padding: 0 20px;
  }
  .intro__box {
    width: 90%;
    margin: auto;
    min-height: 300px;
  }
  .intro__left {
    background: none;
    margin-bottom: 0px;
  }
  .intro__right {
    background: none;
    margin-bottom: 0px;
  }
  .community__text {
    width: 40%;
  }
  .community__box {
    width: 55%;
    margin: auto;
  }
  .community__none {
    display: none;
  }
  .email {
    min-height: 600px;
  }
  .download__list li {
    margin-top: 20px;
  }
  .footer__politics {
    margin: auto;
  }
  .footer__politics ul {
    margin: auto;
    text-align: center;
  }
  .footer__politics p {
    text-align: center;
  }
  .footer__logo {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 460px) {
  .community__text {
    width: 100%;
    margin-bottom: 20px;
  }
  .community__box {
    width: 80%;
    margin: auto;
  }
  .email__box h3 {
    font-size: 24px;
  }
  .email__box form {
    margin-top: 30px;
  }
  .email__box input[type=email] {
    width: 270px;
    height: 55px;
  }
  .email__box button[type=button] {
    height: 55px;
    width: 55px;
    font-size: 18px;
  }
}
